a{
	color : #04518D !important;
	font-family: roboto;
	font-size: 18px;
}

.content-nonactive{
	opacity: 0.5;
}

.content-active{
	border-bottom: .25rem solid transparent;
	border-bottom-color: #04518D;
	border-bottom-width: thin;
	margin-bottom: 10px;
}

.nav{
	padding-left: 187px !important;
	padding-right: 46px;
}


.form-group{
	padding-left: 60px;
}

.f{
	padding-left: unset !important;
}

.g{
	font-weight: unset !important;
}

.form-control{
	border: none !important;
    border-bottom: .10rem solid transparent !important;
	border-bottom-color: black !important;
    border-radius: unset !important;
    padding : unset !important;
}

.form-title{
	font-size: 24px;
	font-family: helvetica;
	color: #121c21;
	margin-bottom: 40px !important;
}

.t{
	margin-bottom: unset !important;
}

.bottom{
	width: 95px;
	border-bottom: .50rem solid transparent;
	border-bottom-color: #04518D;
}

.content{
	font-size: 18px;
	font-family: roboto;
}

.dropdown{
	width: 50%;
}

.dropdown-username{
	width: 100%;
}

.text{
	width : 75%;
}

.number{
	width: 20%;
}

.desc{
	width: 100%;
}

.time{
	border:none;
	border-bottom: 0.25em solid black;
	border-bottom-width: thin;
	width: 120px;
	height: 31px;
	background: white;
}

.jd{
	margin-top: 40px;
}
.custom-footer {
  position: inherit;
  font-family: roboto;
  bottom: 0px;
  height: 20px;
  width: 100%;
  background-color: #04518D;
  font-size: 14px;
  color: white;
  text-align: center;
}

.btn{
	width: 120px;
	height: 40px;
	border-radius: 10px;
} 

.btn-active{
	background-color: #246BB3 !important;
	color: white;
}

.btn-nonactive{
	background-color: white !important;
	color: #C2CBCE;
}

.labeltime{
	margin-left: 20px;
	margin-right: 20px;
}

.formsc{
	border-bottom: none !important;
	margin-left: 60px;
}

.form-time{
	margin-bottom: unset !important;
}

.cb{
	width: 20px;
}

.labelsc{
	font-size: 18px;
	font-family: roboto;
	font-weight: unset !important;
	color: #246BB3;
}

.labelscs{
	font-size: 17px;
	font-family: roboto;
	font-weight: unset !important;
	color: #246BB3;
	opacity: 0;
	margin-bottom: 5px;
	display: unset!important;
}

.imginfo{
	vertical-align: unset !important;
}

.stylemaps{
	width:605px;
	height:350px;
	padding-left: 60px;
}

.period{
	width: 10%;
	margin-left: 32px;
}

.nm{
	margin-left: 32px;
	width: 20%;
}

.education{
	margin-left: 32px;
	width: 50%;
}

.left{
	margin-left: 32px;
}

.experience{
	margin-left: 32px;
	width: 100%;
}

.hour{
	border-bottom: .25rem solid transparent;
	border-bottom-color: black;
	border-bottom-width: thin;
}

.space{
	margin-bottom: 155px;
}

.btn-cancel{
	border: unset!important;
	border-color: unset !important;
	color : red;
}

.btn-draft{
	border: unset!important;
	border-color: unset !important;
	color : blue;
	width: 140px !important;
}

.btn-savepost{
	font-size: 24px;
	font-family: helvetica;
	width: 207px !important;
	height: 55px !important;
	background-color: #F0D446 !important;
	color: #FFFF;
	border-color : #F0D446 !important;
}

.buttonsubmit{
	float: right;
	padding-right: 39px;
}

.end{
	margin-top : 9px;
}

.disabled {
/*    background-color:grey;*/
    color : #C2CBCE;
    opacity : 0.5;
}

.contentmarginbottom{
	margin-bottom: 20px;
}


.btn-draft:hover {
  background-color: blue;
  color: white;
}

.btn-draft:focus {
  background-color: white;
  color: blue;
}
.btn-draft:active {
  background-color: blue;
  color: white;
}

.btn-cancel:hover {
  background-color: red;
  color: white;
}

.btn-cancel:focus {
  background-color: white;
  color: red;
}
.btn-cancel:active {
  background-color: red;
  color: white;
}

.btn-savepost:hover {
  background-color: #F0D446;
  color: white;
  border: unset;
  border-color: unset;
 }

.btn-savepost:focus {
  background-color: #F0D446;
  color: white;
  border: unset;
  border-color: unset;
}
.btn-savepost:active {
  background-color: #F0D446;
  color: black;
  border: unset;
  border-color: unset;
}



.choices {
    background-color: #FFFF;
    display: inline-block;
    padding-top: 5px;
    font-size: 18px;
    font-family: roboto;
    width: 120px;
	height: 40px;
	color: #C2CBCE;
    cursor: pointer;
    border: 1px solid #C2CBCE;
    border-radius: 10px;    
    text-align: center;
    font-weight: unset !important;
    margin-bottom: 20px;
 }

.choices:hover {
      background: #246BB3;
    }

    input:checked+label>choices {
      background: #246BB3;
      color: white;
    }
    input:checked+label>.choices {
      background-color: #246BB3 !important;
      color: white;
    }

.btninfo{
	background-color: white !important;
	cursor: pointer;
}

.col-xs-3{
	width: unset !important;
}

.lstBenefit{
	margin-left: 10px;
}

.btn-remove{
	background-color: transparent;
	border: unset !important;
	border-color: unset !important;
	float: right;
	width: unset !important;
	height: unset;
	color: red;
}
.content2{
	font-size: 18px;
	font-family: roboto;
	font-weight: unset !important;
}

.rowremovebenefits{
	margin-right: unset !important;
}
.rowremovejobrequirement{
	margin-left: unset !important;
	margin-right: unset !important;
}
.rowremovejobdescription{
	margin-left: unset !important;
	margin-right: unset !important;
	width: 100% !important;
}
.fprobation{
	pointer-events: none;

}
.fappfilter{
	pointer-events: none;
}

.fjobactive{
	pointer-events: none;
}


.space-jobtitle{
	margin-top: 120px;
	margin-bottom: 70px;
	opacity: 0;
}
.space-jobfunction{
	margin-bottom: 70px;
	opacity: 0;
}
.space-jobindustry{
	margin-bottom: 70px;
	opacity: 0;
}
.space-employmentstatus{
	margin-bottom: 50px;
	opacity: 0;

}
.space-careerpath{
	margin-bottom: 70px;
	opacity: 0;
}

.space-talentsneeded{
	margin-bottom: 190px;
	opacity: 0;
}

.space-jobdescription{
	margin-bottom: 70px;
	opacity: 0;
}

.space-jobrequirement{
	margin-bottom: 70px;
	opacity: 0;
}

.space-benefits{
	margin-bottom: 70px;
	opacity: 0;
}

.space-skillneeded{
	margin-bottom: 170px;	
	opacity: 0;
}

.space-day{
	margin-bottom: 100px;
	opacity: 0;	
}

.space-workinghour{
	margin-bottom: 240px;	
	opacity: 0;
}

.space-location{
	margin-bottom: 70px;	
	opacity: 0;
}

.space-address{
	margin-bottom: 560px;	
	opacity: 0;
}

.space-salary{
	margin-bottom: 270px;	
	opacity: 0;
}

.space-probation{
	margin-bottom: 270px;	
	opacity: 0;
}

.space-education{
	margin-bottom: 60px;	
	opacity: 0;
}

.space-experience{
	margin-bottom: 70px;	
	opacity: 0;
}

.space-jobcategory{
	margin-bottom: 40px;	
	opacity: 0;
}

.space-jdescription{
	margin-bottom: 270px;	
	opacity: 0;
}

.space-jobpost{
	margin-bottom: 70px;	
	opacity: 0;
}

.nav-home{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 5%;
	margin-left: 1%;
	margin-top: 1%;
	cursor: pointer;
}

.nav-menu7{
	flex-grow: 1;
	text-align: center;
}

.nav-menu8{
	flex-grow: 1;
	text-align: center;
}

.nav-menu9{
	flex-grow: 1;
	text-align: center;
}

.nav-menu10{
	flex-grow: 1;
	text-align: center;
}

.text2{
	color : #04518D !important;
	font-family: roboto;
	font-size: 18px;
	text-transform: none !important;
	font-weight: normal !important;
}

.text3{
	color : #04518D !important;
	font-family: helvetica;
	font-size: 24px;
	font-weight: bold;
	padding-left: 5px;
}

.text4{
	font-family: roboto;
	color : #04518D !important;
	font-size: 14px;
	padding-left: 5px;
	text-transform: capitalize !important;
	font-weight: normal !important;
	cursor: pointer;
}
.dropdown-menu{
	width: 180px;
	border-radius: 3px !important;
	display: none;
	left: -47px !important;
	padding: 8px 0;
	transition: unset !important;
	top: 4px !important; 
}

.dropdown-menu > .dropdown-submenu > a:after {
    content: '\e9c7';
    font-family: 'icomoon';
    position: absolute;
    transform: rotateY(-180deg);
    top: 50%;
    margin-top: -8px;
    right: 170px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.dropdown-menu > .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu > li {
    position: relative;
    margin-bottom: 1px;
}

.dropdown-menu > .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: -100%;
    margin-top: -15px;
}

.dropdown-menu > li > a {
    padding: 8px 16px;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;
}

.dropdown-menu>li:first-child>a {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px!important;
	border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.dropdown-menu>li:last-child>a {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px!important;
	border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.dropdown-b{
	left: -180px !important;
}

.dropdown-postjob{
	position: unset !important;
	transform: unset !important;
	top: unset !important;
	left : unset !important;
	will-change: unset !important; 
}

.glyphicon-c {
	top :2px;
	font-size: 13px;
}

.row-postjob{
	background-color: white;
	margin-left: 250px;
}

@media screen and (max-width: 990px){
	.row-postjob {
		margin-left: unset !important;
 	}
}